<section id="faq" class="fag">
  <div class="container">
    <div class="fag-wrap">
      <h3 class="fag-text-title">FAQ</h3>

      <div class="dop">
        <div class="fag-wrap-content">
          <div class="fag-wrap-card">
            <div class="fag-wrap-card-title">
              <p class="fag-card-text">Is Boddle free to use?</p>
              <img
                class="faq-card-img"
                src="../img/faq/add-desk.png"
                alt="fag add image"
              />
            </div>
            <p class="fag-card-text-content">
              Yes, it’s free for students and teachers. Optional paid features
              are available.
            </p>
          </div>

          <div class="fag-wrap-card">
            <div class="fag-wrap-card-title">
              <p class="fag-card-text">What ages is it best for?</p>
              <img
                class="faq-card-img"
                src="./img/faq/add-desk.png"
                alt="fag add image"
              />
            </div>
            <p class="fag-card-text-content">
              Designed for kids in Kindergarten through 6th grade.
            </p>
          </div>

          <div class="fag-wrap-card">
            <div class="fag-wrap-card-title">
              <p class="fag-card-text">Is it safe for kids?</p>
              <img
                class="faq-card-img"
                src="./img/faq/add-desk.png"
                alt="fag add image"
              />
            </div>
            <p class="fag-card-text-content">
              Absolutely — Boddle is COPPA-compliant and ad-free.
            </p>
          </div>

          <div class="fag-wrap-card">
            <div class="fag-wrap-card-title">
              <p class="fag-card-text">
                Does it align with curriculum standards?
              </p>
              <img
                class="faq-card-img"
                src="./img/faq/add-desk.png"
                alt="fag add image"
              />
            </div>
            <p class="fag-card-text-content">
              Yes, all content is standards-aligned and built by educators.
            </p>
          </div>

          <div class="fag-wrap-card">
            <div class="fag-wrap-card-title">
              <p class="fag-card-text">Can parents track progress?</p>
              <img
                class="faq-card-img"
                src="./img/faq/add-desk.png"
                alt="fag add image"
              />
            </div>
            <p class="fag-card-text-content">
              Yes, parents get access to detailed learning reports and insights.
            </p>
          </div>
        </div>

        <picture class="fag-img-one">
          <source
            srcset="./img/faq/fag-desk.png 1x"
            media="(min-width: 1440px)"
          />
          <source
            srcset="./img/faq/fag-mob.png 1x"
            media="(max-width: 1439px)"
          />
          <img src="./img/faq/fag-mob.png" alt="Image fag" />
        </picture>
      </div>
    </div>
  </div>
</section>
