<section id="gallery" class="gallery">
  <div class="container">
    <div class="gallery-wrap">
      <h3 class="gallery-text-title">Gallery</h3>

      <div class="wrap-image">
        <picture class="gallery-img-one">
          <source
            srcset="
              ./img/gallery/gallery-desk1-1x.png 1x,
              ./img/gallery/gallery-desk1-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/gallery/gallery-mob1-1x.png 1x,
              ./img/gallery/gallery-mob1-2x.png 2x
            "
            media="(max-width: 1439px)"
          />
          <img src="./img/gallery/gallery-mob1-1x.png" alt="Image gallery" />
        </picture>

        <picture class="gallery-img-one">
          <source
            srcset="
              ./img/gallery/gallery-desk2-1x.png 1x,
              ./img/gallery/gallery-desk2-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/gallery/gallery-mob2-1x.png 1x,
              ./img/gallery/gallery-mob2-2x.png 2x
            "
            media="(max-width: 1439px)"
          />
          <img src="./img/gallery/gallery-mob2-1x.png" alt="Image gallery" />
        </picture>

        <picture class="gallery-img-one">
          <source
            srcset="
              ./img/gallery/gallery-desk3-1x.png 1x,
              ./img/gallery/gallery-desk3-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/gallery/gallery-mob3-1x.png 1x,
              ./img/gallery/gallery-mob3-2x.png 2x
            "
            media="(max-width: 1439px)"
          />
          <img src="./img/gallery/gallery-mob3-1x.png" alt="Image gallery" />
        </picture>
      </div>
    </div>
  </div>

  <div class="gallery-wrap-star-mob">
    <img class="star-img-mob" src="./img/star-mob.png" alt="Image star" />
    <p class="text-star-mob">Boddle</p>
    <img class="star-img-mob" src="./img/star-mob.png" alt="Image star" />
    <p class="text-star-mob">Boddle</p>
    <img class="star-img-mob" src="./img/star-mob.png" alt="Image star" />
  </div>

  <div class="gallery-wrap-star-desk">
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
  </div>
</section>
