<section id="game" class="game">
  <div class="container">
    <div class="game-wrap">
      <div class="game-wrap-text">
        <h3 class="game-text-title">Game Description</h3>
        <p class="game-text-parag">
          Boddle is an interactive learning game where kids in grades K–6 master
          Math and ELA by playing fun games and exploring 3D worlds. It’s
          education wrapped in excitement!
        </p>
      </div>

      <picture class="game-img-one-desk">
        <source
          srcset="
            ./img/game/game-desk-1x.png 1x,
            ./img/game/game-desk-2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="./img/game/game-mob-1x.png 1x, ./img/game/game-mob-2x.png 2x"
          media="(max-width: 1439px)"
        />
        <img src="./img/game/game-mob-1x.png" alt="Image game" />
      </picture>
    </div>
  </div>

  <picture class="game-img-one-mob">
    <source
      srcset="./img/game/game-desk-1x.png 1x, ./img/game/game-desk-2x.png 2x"
      media="(min-width: 1440px)"
    />
    <source
      srcset="./img/game/game-mob-1x.png 1x, ./img/game/game-mob-2x.png 2x"
      media="(max-width: 1439px)"
    />
    <img src="./img/game/game-mob-1x.png" alt="Image game" />
  </picture>

  <div class="game-wrap-star-mob">
    <img class="star-img-mob" src="./img/star-mob.png" alt="Image star" />
    <p class="text-star-mob">Boddle</p>
    <img class="star-img-mob" src="./img/star-mob.png" alt="Image star" />
    <p class="text-star-mob">Boddle</p>
    <img class="star-img-mob" src="./img/star-mob.png" alt="Image star" />
  </div>

  <div class="game-wrap-star-desk">
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
  </div>
</section>
