<section class="hero">
  <div class="container">
    <div class="hero-wrap-dop">
      <div class="hero-wrap-content">
        <h1 class="hero-title">Boddle</h1>

        <div class="hero-wrap-star-mob">
          <img class="star-img-mob" src="./img/star-mob.png" alt="Image star" />
          <p class="text-star-mob">Boddle</p>
          <img class="star-img-mob" src="./img/star-mob.png" alt="Image star" />
          <p class="text-star-mob">Boddle</p>
          <img class="star-img-mob" src="./img/star-mob.png" alt="Image star" />
        </div>

        <div class="hero-wrap-content-mob">
          <p class="hero-text-bold">Make Learning an Adventure!</p>
          <p class="hero-text">
            Ready to splash some smarts? It’s Boddle time — let’s blast through
            math with giggles and goo!
          </p>
        </div>

        <picture class="hero-img">
          <source
            srcset="
              ./img/hero/hero-desk-1x.png 1x,
              ./img/hero/hero-desk-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/hero/hero-mob-1x.png 1x,
              ./img/hero/hero-mob-2x.png 2x
            "
            media="(max-width: 1439px)"
          />
          <img src="./img/hero/hero-mob-1x.png" alt="Image boddle" />
        </picture>
      </div>
    </div>
  </div>

  <div class="hero-wrap-star-desk">
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
  </div>
</section>
