<section id="how" class="how">
  <div class="container">
    <div class="how-wrap">
      <div class="how-wrap-text-mob">
        <h3 class="how-text-title">How to Play</h3>

        <div class="how-wrap-mob-img">
          <picture class="how-img-mob-one">
            <source
              srcset="
                ../img/how/how-woman-desk-1x.png 1x,
                ../img/how/how-woman-desk-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/how/how-woman-mob-1x.png 1x,
                ../img/how/how-woman-mob-2x.png 2x
              "
              media="(max-width: 1439px)"
            />
            <img src="../img/how/how-woman-mob-1x.png" alt="Image boddle" />
          </picture>

          <picture class="how-img-mob-two">
            <source
              srcset="
                ../img/how/how-man-desk-1x.png 1x,
                ../img/how/how-man-desk-2x.png 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img/how/how-man-mob-1x.png 1x,
                ../img/how/how-man-mob-2x.png 2x
              "
              media="(max-width: 1439px)"
            />
            <img src="../img/how/how-man-mob-1x.png" alt="Image boddle" />
          </picture>
        </div>
      </div>

      <div class="how-wrap-text-desk">
        <picture class="how-img-desk-one">
          <source
            srcset="
              ./img/how/how-woman-desk-1x.png 1x,
              ./img/how/how-woman-desk-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/how/how-woman-mob-1x.png 1x,
              ./img/how/how-woman-mob-2x.png 2x
            "
            media="(max-width: 1439px)"
          />
          <img src="./img/how/how-woman-mob-1x.png" alt="Image boddle" />
        </picture>

        <h3 class="how-text-title">How to Play</h3>

        <picture class="how-img-desk-two">
          <source
            srcset="
              ./img/how/how-man-desk-1x.png 1x,
              ./img/how/how-man-desk-2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/how/how-man-mob-1x.png 1x,
              ./img/how/how-man-mob-2x.png 2x
            "
            media="(max-width: 1439px)"
          />
          <img src="./img/how/how-man-mob-1x.png" alt="Image boddle" />
        </picture>
      </div>

      <div class="how-wrap-content">
        <div class="how-wrap-content-one">
          <div class="how-card">
            <p class="how-card-title">Choose Your Boddle</p>
            <p class="how-card-text">
              Pick and customize your learning character
            </p>
          </div>

          <div class="how-card">
            <p class="how-card-title">Complete Challenges</p>
            <p class="how-card-text">
              Play fun games designed to build academic skills
            </p>
          </div>

          <div class="how-card">
            <p class="how-card-title">Earn Reward</p>
            <p class="how-card-text">
              Collect coins, gear, and more as you learn
            </p>
          </div>
        </div>

        <div class="how-wrap-content-two">
          <div class="how-card">
            <p class="how-card-title">Track Progress</p>
            <p class="how-card-text">
              Parents and teachers can monitor results in real time
            </p>
          </div>

          <div class="how-card">
            <p class="how-card-title">Explore New Worlds</p>
            <p class="how-card-text">
              Unlock exciting zones as you level up your skills
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="how-wrap-star-mob">
    <img class="star-img-mob" src="./img/star-mob.png" alt="Image star" />
    <p class="text-star-mob">Boddle</p>
    <img class="star-img-mob" src="./img/star-mob.png" alt="Image star" />
    <p class="text-star-mob">Boddle</p>
    <img class="star-img-mob" src="./img/star-mob.png" alt="Image star" />
  </div>

  <div class="how-wrap-star-desk">
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
  </div>
</section>
