<section id="key" class="key">
  <div class="container">
    <div class="key-wrap">
      <h3 class="key-text-title">Key Features</h3>

      <div class="key-wrap-content">
        <div class="key-wrap-content-one">
          <div class="key-card card1">
            <p class="key-card-text">Math & ELA content for grades K–6</p>
          </div>

          <div class="key-card card2">
            <p class="key-card-text">
              Adaptive learning for personalized lessons
            </p>
          </div>
        </div>

        <div class="key-wrap-content-two">
          <div class="key-card card3">
            <p class="key-card-text">Engaging 3D characters and rewards</p>
          </div>

          <div class="key-card card4">
            <p class="key-card-text">
              Easy-to-use dashboards for teachers and parents
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="key-wrap-star-mob">
    <img class="star-img-mob" src="./img/star-mob.png" alt="Image star" />
    <p class="text-star-mob">Boddle</p>
    <img class="star-img-mob" src="./img/star-mob.png" alt="Image star" />
    <p class="text-star-mob">Boddle</p>
    <img class="star-img-mob" src="./img/star-mob.png" alt="Image star" />
  </div>

  <div class="key-wrap-star-desk">
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
  </div>
</section>
