<section id="user" class="user">
  <div class="container">
    <div class="user-wrap">
      <h3 class="user-text-title">User Reviews</h3>

      <picture class="user-img-one">
        <source
          srcset="
            ./img/user/user-desk-1x.png 1x,
            ./img/user/user-desk-2x.png 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="./img/user/user-mob-1x.png 1x, ./img/user/user-mob-2x.png 2x"
          media="(max-width: 1439px)"
        />
        <img src="./img/user/user-mob-1x.png" alt="Image boddle user" />
      </picture>

      <div class="user-wrap-content-mob">
        <div class="user-card-mob user-card1">
          <p class="user-card-image">Mr. Simmons</p>
          <p class="user-card-text">
            “As a teacher, this is my go-to for fun classroom review.”
          </p>
        </div>

        <div class="user-card-mob user-card2">
          <p class="user-card-image">Anya T.</p>
          <p class="user-card-text">
            “Fun, interactive, and it actually teaches. Highly recommend!”
          </p>
        </div>

        <div class="user-card-mob user-card3">
          <p class="user-card-image">Jasmine R.</p>
          <p class="user-card-text">
            “Boddle makes my son excited about learning again!”
          </p>
        </div>

        <div class="user-card-mob user-card4">
          <p class="user-card-image">Sarah L.</p>
          <p class="user-card-text">
            "My kid thinks it’s a game, but I know it’s learning! We both win!"
          </p>
        </div>

        <div class="user-card-mob user-card5">
          <p class="user-card-image">Jason R.</p>
          <p class="user-card-text">
            "The characters are adorable and the math is actually fun. Love it!"
          </p>
        </div>
      </div>

      <div class="user-wrap-content-desk swiper userSwiper">
        <div class="swiper-wrapper">
          <div class="user-card-desk duser-card1 swiper-slide">
            <p class="user-card-image">Jason R.</p>
            <p class="user-card-text">
              "The characters are adorable and the math is actually fun. Love
              it!"
            </p>
          </div>

          <div class="user-card-desk duser-card2 swiper-slide">
            <p class="user-card-image">Anya T.</p>
            <p class="user-card-text">
              “Fun, interactive, and it actually teaches. Highly recommend!”
            </p>
          </div>

          <div class="user-card-desk duser-card3 swiper-slide">
            <p class="user-card-image">Mr. Simmons</p>
            <p class="user-card-text">
              “As a teacher, this is my go-to for fun classroom review.”
            </p>
          </div>

          <div class="user-card-desk duser-card4 swiper-slide">
            <p class="user-card-image">Jasmine R.</p>
            <p class="user-card-text">
              “Boddle makes my son excited about learning again!”
            </p>
          </div>

          <div class="user-card-desk duser-card5 swiper-slide">
            <p class="user-card-image">Sarah L.</p>
            <p class="user-card-text">
              "My kid thinks it’s a game, but I know it’s learning! We both
              win!"
            </p>
          </div>
        </div>

        <div class="user-wrap-btn">
          <button class="user-btn-left">
            <img src="./img/user/left.png" />
          </button>

          <button class="user-btn-right">
            <img src="./img/user/right.png" />
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="user-wrap-star-mob">
    <img class="star-img-mob" src="./img/star-mob.png" alt="Image star" />
    <p class="text-star-mob">Boddle</p>
    <img class="star-img-mob" src="./img/star-mob.png" alt="Image star" />
    <p class="text-star-mob">Boddle</p>
    <img class="star-img-mob" src="./img/star-mob.png" alt="Image star" />
  </div>

  <div class="user-wrap-star-desk">
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
    <p class="text-star-desk">Boddle</p>
    <img class="star-img-desk" src="./img/star-desk.png" alt="Image star" />
  </div>
</section>
