@import './common/vars';

.how {
  scroll-margin-top: 40px;
  // background-image: url('../img/back/how-back.png');
  // // background-repeat: no-repeat;

  // background-repeat: repeat-y; /* повторювати тільки по вертикалі */
  // background-position: left top; /* початок — зліва зверху */
  // background-size: auto;
}

.how-wrap {
  display: flex;
  flex-direction: column;
}
.how-text-title {
  font-family: 'Permanent Marker', sans-serif;
  font-weight: 400;
  font-size: 47px;
  line-height: 1.5;
  text-align: center;
  color: $_black;
  text-shadow: 2px 2px 0px $_white;
  padding-top: 60px;
}

.how-wrap-mob-img {
  display: flex;
  justify-content: space-between;
}

.how-img-mob-two {
  padding-top: 13px;
}

.how-wrap-text-desk {
  display: none;
}

.how-wrap-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 60px;
  margin-top: -24px;
}

.how-wrap-content-one {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.how-card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;

  border: 1px solid $_black;
  border-radius: 24px 0 0 0;
  padding: 24px;
  width: 336px;
  height: 139px;

  box-shadow: 10px 10px 1px 0 $_black;
  background: $_pink;

  cursor: pointer;
}

.how-card:focus {
  background: $_white;
}

.how-card:hover {
  background: $_white;
}

.how-card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: $_black;
}

.how-card-title:hover {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.how-card-title:focus {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.how-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $_black;
}

.how-wrap-content-two {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.how-wrap-star-mob {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;

  border-bottom: 2px solid $_black;
  border-top: 2px solid $_black;
  padding: 35px 60px;
  width: 375px;
  height: 56px;

  box-shadow: 0 4px 1px 0 $_black;
  background: $_yellow;
}

.star-img-mob {
  width: 20px;
}

.text-star-mob {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: $_black;
}

.how-wrap-star-desk {
  display: none;
}

@media screen and (min-width: 1440px) {
  .how {
    scroll-margin-top: 80px;
    // background-image: url('../img/back/how-back.png');
    // background-repeat: no-repeat;

    // background-size: cover;
    // background-position: center;
  }

  .how-wrap {
    padding-top: 60px;
  }

  .how-wrap-text-mob {
    display: none;
  }

  .how-wrap-star-mob {
    display: none;
  }

  .how-wrap-text-desk {
    display: flex;
    justify-content: space-between;
  }

  .how-img-desk-two {
    padding-top: 34px;
  }

  .how-wrap-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 60px;
    margin-top: -63px;
  }

  .how-wrap-content-one {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  .how-card {
    width: 343px;
    height: 160px;

    cursor: pointer;
  }

  .how-card:focus {
    background: $_white;
  }

  .how-card:hover {
    background: $_white;
  }

  .how-card-title {
    font-size: 24px;
  }

  .how-card-title:hover {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }

  .how-card-title:focus {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }

  .how-card-text {
    font-size: 20px;
  }

  .how-wrap-content-two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 25px;
  }

  .how-wrap-star-desk {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 28px;

    border-bottom: 2px solid $_black;
    border-top: 2px solid $_black;
    padding: 29px 41px;
    width: 100%;
    height: 94px;

    box-shadow: 0 10px 1px 0 $_black;
    background: $_yellow;
  }

  .star-img-desk {
    width: 30px;
  }

  .text-star-desk {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    color: $_black;
  }
}
