@import './common/vars';

.user {
  scroll-margin-top: 40px;
}

.container {
}

.user-wrap {
  position: relative;
}

.user-text-title {
  font-family: 'Permanent Marker', sans-serif;
  font-weight: 400;
  font-size: 47px;
  line-height: 1.5;
  text-align: center;
  color: $_black;
  text-shadow: 2px 2px 0px $_white;
  padding-top: 60px;
  padding-bottom: 176px;
}

.user-img-one {
  position: absolute;
  left: 30%;
  bottom: 70%;
}

.user-wrap-content-mob {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 92px;
}

.user-wrap-content-desk {
  display: none;
}

.user-card-desk {
  display: none;
}

.user-card-mob {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  border: 1px solid #000;
  border-radius: 24px 0 0 0;
  padding: 24px;
  box-shadow: 10px 10px 1px 0 #000;
  background: $_pink;
}

.user-card-mob:hover {
  background: $_white;
}

.user-card-mob:focus {
  background: $_white;
}

.user-card1 {
}

.user-card2 {
  transform: rotate(-4deg);
}

.user-card3 {
  transform: rotate(4deg);
}

.user-card4 {
  transform: rotate(-4deg);
}

.user-card5 {
  transform: rotate(4deg);
}

.user-card2:focus,
.user-card2:hover {
  transform: rotate(0deg);
}

.user-card3:focus,
.user-card3:hover {
  transform: rotate(0deg);
}

.user-card4:focus,
.user-card4:hover {
  transform: rotate(0deg);
}

.user-card5:focus,
.user-card5:hover {
  transform: rotate(0deg);
}

.user-card-image {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
}

.user-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.user-wrap-star-mob {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 10px;

  border-bottom: 2px solid $_black;
  border-top: 2px solid $_black;
  padding: 35px 60px;
  width: 375px;
  height: 56px;

  box-shadow: 0 4px 1px 0 $_black;
  background: $_yellow;
}

.star-img-mob {
  width: 20px;
}

.text-star-mob {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: $_black;
}

.user-wrap-star-desk {
  display: none;
}

@media screen and (min-width: 1440px) {
  .user {
    scroll-margin-top: 80px;
  }

  .container {
  }

  .user-wrap {
    position: relative;
  }

  .user-text-title {
    padding-bottom: 270px;
  }

  .user-img-one {
    position: absolute;
    left: 39%;
    bottom: 36%;
    z-index: 10;
  }

  .user-wrap-content-mob {
    display: none;
  }

  .user-card-mob {
    display: none;
  }

  .user-wrap-content-desk {
    display: flex;
  }

  .swiper {
  }
  .userSwiper {
  }

  .swiper-wrapper {
  }

  .user-card-desk {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    max-width: 230px;
    border: 1px solid #000;
    border-radius: 24px 0 0 0;
    padding: 24px;
    box-shadow: 10px 10px 1px 0 #000;
    background: $_pink;
    cursor: pointer;
  }

  .duser-card1 {
    transform: rotate(6deg);
  }

  .duser-card2 {
    transform: rotate(-6deg);
  }

  .duser-card3 {
    transform: rotate(6deg);
  }

  .duser-card4 {
    transform: rotate(-6deg);
  }

  .duser-card5 {
    transform: rotate(6deg);
  }

  .duser-card1:focus,
  .duser-card1:hover {
    transform: rotate(0deg);
  }

  .duser-card2:focus,
  .duser-card2:hover {
    transform: rotate(0deg);
  }

  .duser-card3:focus,
  .duser-card3:hover {
    transform: rotate(0deg);
  }

  .duser-card4:focus,
  .duser-card4:hover {
    transform: rotate(0deg);
  }

  .duser-card5:focus,
  .duser-card5:hover {
    transform: rotate(0deg);
  }

  .user-card-desk:hover {
    background: $_white;
  }

  .user-card-desk:focus {
    background: $_white;
  }

  .swiper-slide {
  }

  .user-card-image {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: #000;
    padding-bottom: 16px;
  }

  .user-card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
  }

  .user-wrap-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 24px;
    padding-bottom: 60px;
    gap: 24px;
  }

  .user-btn-left {
    all: unset;

    display: flex;
    align-items: center;
    justify-content: center;
    // flex-direction: column;

    border: 1px solid #000;
    border-radius: 24px 0 0 0;
    // padding: 24px;
    width: 50px;
    height: 68px;

    box-shadow: 6px 6px 1px 0 #000;
    background: #f3969c;
  }

  .user-btn-left img {
    width: 21px;
    height: 21px;
  }

  .user-btn-left:hover,
  .user-btn-left:focus {
    background: $_white;
  }

  .user-btn-right {
    all: unset;

    display: flex;
    align-items: center;
    justify-content: center;
    // flex-direction: column;

    border: 1px solid #000;
    border-radius: 0 24px 0 0;
    // padding: 24px;
    width: 50px;
    height: 68px;

    box-shadow: 6px 6px 1px 0 #000;
    background: #f3969c;
  }

  .user-btn-right img {
    width: 21px;
    height: 21px;
  }

  .user-btn-right:hover,
  .user-btn-right:focus {
    background: $_white;
  }

  .user-wrap-star-mob {
    display: none;
  }

  .user-wrap-star-desk {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 28px;

    border-bottom: 2px solid $_black;
    border-top: 2px solid $_black;
    padding: 29px 41px;
    width: 100%;
    height: 94px;

    box-shadow: 0 10px 1px 0 $_black;
    background: $_yellow;
  }

  .star-img-desk {
    width: 30px;
  }

  .text-star-desk {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.5;
    color: $_black;
  }
}
